/SOAPUI/etc/gbcmd.conf
/SOAPUI/etc/gbcmdcert.conf
/SOAPUI/etc/gbcmdcert_target.conf
/data/testSets/
data/test_subscription.xml
/SOAPUI/etc/gbcmd.conf
/SOAPUI/etc/gbcmdcert.conf
SOAPUI/etc/prepopulatesql_applicationinformation_dc.sql
SOAPUI/etc/prepopulatesql_tokenstore.sql
./SOAPUI/CMDUtils/target/
transferred/*

*.class

# Package Files #
*.jar
*.war
*.ear

# IDEs
*.iml
.idea/
target/

# Eclipse
.classpath
.project
.settings/
*.log
